<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
      <ion-button  icon-only (click)="back()" >
        <ion-icon  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Séance d'entrainement</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
           <img src="{{service.currentExercice.photo}}">
          <div class="myOverlay"><ion-icon name="alarm-outline"></ion-icon> {{training.startTime | date:'short'}}</div>
           <div class="myOverlay1">    <ion-icon color="light" name="timer-outline"></ion-icon> {{training.duration}} minutes </div>
         <p *ngIf="training.opinion" class="text">{{training.opinion}}</p>
           
    </div>
    <div class="ion-text-center">
      <ion-button icon-left size="medium" shape="round"  (click)="presentAlertPrompt()" class="list"   tappable>
        <ion-icon name="pencil-outline" class="icon"></ion-icon>
       &nbsp; <span *ngIf="!training.opinion">donner avis</span><span *ngIf="training.opinion">changer avis</span>
      </ion-button>
      </div>
      <div class="ion-text-center">
        <ion-button icon-left size="medium" shape="round"  class="list" (click)="presentAlertPrompt2()" tappable>
          <ion-icon name="trash-outline" class="icon"></ion-icon>
         &nbsp;supprimer
        </ion-button>
        </div>  
</ion-content>



