 

.title
{
color:white; 
font-size: 4.5vmin;
text-align : center
}

img{
    height : 200px;
    width : 100%;
 }

.myOverlay{
    font-size : 4.1vmin;
    margin-left : 5%;
    margin-top : 5%;
    color: #fff;
    font-style: normal;
    float:left;
}

.myOverlay1{
    font-size : 4.1vmin;
    margin-top : 5%;
    margin-left:65%;
    color: #fff;
    font-style: normal;
}

  .text
  {
  font-size: 3.75vmin;
  color : white;
  width :95%;
  margin-left  : 5%;
  margin-right : 4%;
  margin-top: 5%;
  }
    
  .card-title {
    position: absolute;
    top: 80%;
    height : 20%;
    width: 100%;
    opacity : 0.7;
    background: black;
    vertical-align: middle;
  }
ion-header {
    &.header-md:after {
      background: none;
    }
  }

 
  .list
  {
    width: 70%;
    height : 35px;
    margin-top:5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    --ion-color-primary : #2880e4;
  }
  .icon
  {
    font-size: 6vmin;
  }

  ion-content{
    --ion-background-color: black;   
}