<ion-header>
<ion-toolbar color="secondary" >
 <div class="backIconForm">
  <ion-buttons slot="start" >
    <ion-button (click)="back()" icon-only>
      <ion-icon   class="backIcon" (click)="back()" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons> 
</div>
  <div class="ion-text-center">
    <img class="logoImage" src="../../../assets/img/logo.png"/>
  </div>
</ion-toolbar>
</ion-header>
<ion-content>
  <div  class="innerContent">
    <form [formGroup]="onForm" >
      <ion-item  >
        <ion-label position="floating"  class="label">
          <ion-icon name="mail" item-start></ion-icon>
          Adresse  e-mail
        </ion-label>
        <ion-input   clearInput  type="email" formControlName="email"></ion-input>
      </ion-item>
     
    
      </form>
       <br>
      <p class="infos" >   
  Pour changer ton mot de passe, vous devez avoir accés à l'addresse électronique de ton compte box-to-box.
    </p>
  
    <p class="infos">
  Nous vous enverrons un jeton de réinitialisation par email que vous devez utiliser  pour modifier ton mot de passe
    </p>
    </div>
   
  
</ion-content>

<ion-footer class="ion-no-padding  ion-no-border"  no-shadow>
 
    <ion-button class="ion-no-margin"  (click)="forgotPass()" icon-left size="large"  color="tertiary" expand="block" tappable>
      <ion-icon name="arrow-forward" class="icon"></ion-icon>
    <span class="pass">&nbsp;Continuer</span> 
    </ion-button>
 
</ion-footer>
