ion-content{
    --ion-background-color: #2880e4;
    height : 60%;  
  }

  ion-header {
    &.header-md:after {
      background: none;
    }
  }
  

@media screen and (max-width: 500px) {

    
    .title1
    {
      font-size : 6vmin ;
      color : white
    }

    .text
    {
    font-size: 4vmin;
    color : white;
    }
      .title
      {
      color:white; 
      font-size: 5vmin;
      text-align :center;
      }
    
      .innerContent
{
margin-top :  10%;
padding-right: 7%;
padding-left: 7%;
width : 100%;
}

 
    
    }
    

