<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
      <ion-button (click)="back()" icon-only>
        <ion-icon  class="bacIcon"  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Programmes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div cards>
    <div class="grid-full">
          <ion-card tappable (click)="details(program)" *ngFor="let program of programs;">
            <img src="{{program.photo}}">
            <h2>{{program.title}}</h2>
            <div class="card-title"><div class="myOverlay"><ion-icon name="accessibility-outline"></ion-icon> 5 séances</div>
            <div class="myOverlay1">    <ion-icon color="light" name="ribbon-outline"></ion-icon> 0 badges </div>
          </div>
          </ion-card>
    </div>

  </div>
  <!--
  <ion-grid *ngFor="let programgroup of programsgroups; let i= index"  >
    <ion-row  class="accordion-list" (click)="toggleSection(i)">
      <ion-col>
          <ion-icon  name="add" *ngIf="!programgroup.open" color="primary"></ion-icon> 
          <ion-icon  name="close" *ngIf="programgroup.open" color="primary"></ion-icon> 
         <b style="font-size:18px;">{{programgroup.title}} 
        </b> 
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="programgroup.open">
        <ion-card *ngFor="let program of programgroup.programs" (click)="seance(program)" >
          <ion-card-header>
            <ion-card-title>{{program.title}}</ion-card-title>
            <ion-card-subtitle> <b>Nombre de séances :</b> {{program.seanceNumber}}</ion-card-subtitle>
            <ion-card-subtitle> <b>Badges obtenus : </b> {{program.badge}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
           {{program.description}}
          </ion-card-content>
        </ion-card>
    </ion-row>
    </ion-grid> 
    -->
</ion-content>

