<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
      <ion-button (click)="back()" icon-only>
        <ion-icon   name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Séances d'entrainement</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div cards>
    <div class="grid-full">
          <ion-card tappable *ngFor="let training of trainings" (click)="details(training)">
            <img src="{{service.currentExercice.photo}}">
            <h2>{{service.currentExercice.title}}</h2>
            <div class="card-title"><div class="myOverlay"><ion-icon name="alarm-outline"></ion-icon> {{training.startTime  | date:'short'}}</div>
            <div class="myOverlay1" *ngIf="training.duration">    <ion-icon color="light" name="timer-outline"></ion-icon> {{training.duration}} </div>
          </div>
          </ion-card>
         
          
    </div>

  </div>
</ion-content>

<!--
<ion-content >
      <ion-card *ngFor="let training of trainings">
        <ion-card-header>
    <img src="../../../assets/img/1.jpg" width="350px" height="200px;">
     </ion-card-header>
     <ion-card-content>
       <p><b>Date et heure de début :</b><span>{{training.dateStart}}</span></p> 
       <p *ngIf="training.dateEnd!=null"><b>Date et heure de fin :</b><span> {{training.dateEnd}}</span></p>
       <p *ngIf="training.dateEnd===null"><b>Date et heure de fin :</b><span> N'est pas terminé</span></p>
      <p *ngIf="training.dateEnd!=null"><b>Temps d'entrainement :</b> <span> {{ tempsEcoule(training.dateStart,training.dateEnd)}}</span></p>
      <p *ngIf="training.dateEnd!=null"><b>Avis : </b><span>{{training.opinion}}</span></p>
        <ion-button (click)="modifySeance(training)" tappable> <ion-icon name="pencil-outline"></ion-icon>&nbsp; Modiifer</ion-button>
        <ion-button (click)="deleteSeance(training)" tappable> <ion-icon name="trash-outline"></ion-icon>&nbsp; Supprimer</ion-button>
  </ion-card-content>
  </ion-card>
</ion-content>
-->

