ion-content{
  --ion-background-color: #2880e4;  
}


ion-toolbar {
  &.toolbar-md:after {
    background: none;
  }
}

.header
{
height:23%;
background:#2880e4; 
}

.container {
  width:100%;
  padding-bottom : 100px;
}

.container .right {
  position: absolute;
  width: 70%;
  margin-top : -15px;
  margin-left : 32%;
  padding-bottom : 25px;
}

.username
{
  font-size : 5vmin;
  color : white ;
}

.position
{
   font-size : 4vmin ;
   color : white ;
}

.training
{
   font-size : 3vmin ;
   color : white ;
}


.container .left {
  position: absolute;
  left: 0px;
  width: 30%;
  font-weight : bold ;
  margin-left :5%;
  padding-bottom : 25px;
}

 img {
      
  border-radius: 50%;
  border: solid 4px #fff;
  width : 70%;
  height : auto;
}

.innerContent
{

padding-right: 7%;
padding-left: 7%;
width : 100%;
}


@media screen and (max-width: 500px) {
.label
{
color:white;
font-size:4vmin
}


.backIcon
{
  color:white;
}
.buttonLogin
  {
    width: 70%;
    height : 35px;
    margin-top:8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    --ion-color-primary : #3B5998;
  } 

.labelButton
{
font-size:3vmin
}

.infos
{
  font-size: 3.5vmin;
  color : white;
  text-align :center;
  padding-left : 7%;
  padding-right : 7% ;
}

.icon
{
  font-size: 5vmin;
}

.profilButton
{
  width : 60%;
  margin-top : 2%;
  --ion-color-primary : #3B5998;
}

.pass
{
  font-size : 5vmin ;
}
.icon
{
font-size: 6vmin;
}
  .title
  {
  color:white; 
  font-size: 5.5vmin;
  margin-left : 5%;
  margin-top : 3%;
  }


}

@media screen and (min-width: 500px) and (max-width: 810px) {

.buttonLogin
  {
    width: 50%;
    height : 35px;
    margin-top:5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    --ion-color-primary : #3B5998;
  } 


.labelButton
{
font-size:2.75vmin
}

  
.icon
{
  font-size: 5vmin;
}

}


