<ion-header class="header">
  <ion-toolbar color="primary" >
  <ion-buttons slot="start" style="width:20%" >
      <ion-button (click)="back()" icon-only>
        <ion-icon   class="backIcon" (click)="back()" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Modifier profil</ion-title>
  </ion-toolbar> 
   <div style="width:100%">
    <div class="container">
      <div class="left">
          <img  src="../../../assets/img/avatar.jpeg"  >
  </div>
  <div class="right">
   <p class="username">
    <span>Nidhal Hmida</span> <br>
    <span class="position">
      Attaquant
     </span>
     <br>
     <span class="training">
      13 <span style="color:rgba(255,255,255, .65);">ans</span> &nbsp; &nbsp; 90 <span style="color:rgba(255,255,255, .65);">kg </span>&nbsp;&nbsp;  167 <span style="color:rgba(255,255,255, .65);"> cm </span>
     </span>
   </p>
  </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div  class="innerContent">
    <form [formGroup]="onUpdateForm">
    <ion-item>
      <ion-label position="floating" class="label">
        <ion-icon name="mail" item-start></ion-icon>
        Email
      </ion-label>
      <ion-input   clearInput *ngIf="user==undefined"  type="email" formControlName="email"></ion-input>
      <ion-input   readonly="readonly" *ngIf="user!=undefined"  type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="label">
        <ion-icon name="person-outline" item-start></ion-icon>
        Nom et prénom
      </ion-label>
      <ion-input color="light" *ngIf="user===undefined"  type="text" clearInput formControlName="fullName"></ion-input>
      <ion-input  color="light" readonly="readonly" *ngIf="user!=undefined"  type="text" formControlName="fullName"></ion-input>
    </ion-item>

    <ion-item  >
      <ion-label position="floating" class="label">
        <ion-icon name="location-outline" item-start></ion-icon>
        Pays
      </ion-label>
    <ion-select style="color:white" (click)="loadFlags()" formControlName="country" okText="Choisir" cancelText="Annuler"  >           
      <ion-select-option *ngFor="let country of countries" value="{{country.name}}">&nbsp;<b>{{country.name}}</b></ion-select-option>
  </ion-select>
    </ion-item>

    <ion-item *ngIf="user===undefined" >
      <ion-label position="floating"class="label">
        <ion-icon item-start name="key-outline"></ion-icon>
        Mot de passe
      </ion-label>
      <ion-input  clearInput  [type]="passwordType" formControlName="pass"></ion-input>
      <ion-icon *ngIf="onUpdateForm.get('pass').value!=null" color="white"  slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
    </ion-item>
  
   
  
    <ion-item   *ngIf="user===undefined">
      <ion-label position="floating" class="label">
        <ion-icon item-start name="key-outline"></ion-icon>
       Confirmation Mot de passe
      </ion-label>
      <ion-input clearInput  [type]="passwordType1" clearInput type="password" formControlName="passConfirm"></ion-input>
      <ion-icon *ngIf="onUpdateForm.get('passConfirm').value!=null" color="white"  slot="end" [name]="passwordIcon1"  (click)='hideShowPassword1()'></ion-icon>
    </ion-item>
</form>
</div>  

<div >
  <ion-button icon-left size="medium" shape="round"  class="buttonLogin"   >
    <ion-icon name="pencil-outline" class="icon"></ion-icon>
   Modifier profil
  </ion-button>
  </div>
</ion-content>
