:host {
  ion-content {
    --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
  }
}

.flex {
  justify-content: center;
  position: relative;
  display: flex;
}

.container {
  width:100%;
}


.right {
  float:right;
  width : 17%;
 
}

.grid
{
   margin-top : 20%;
 }
       
  
      @media screen and (max-width: 500px)  {

        .grid
        {
           margin-top : 15%;
         }   
  .header {
    height: 21%;
    background-color: #03A9F4;
    width: 100%;
    padding-top: 1px;
}

  .infos
  {
    font-size : 4.5vmin;
    margin-top: 2%;
    color : rgb(128, 128, 128);
    padding-left : 10%;
  }

  .left {
    float:left;
    font-weight : bold ;
    font-size  : 4.75vmin;
    width : 83%;
    margin-left :3%;
  }

  .title1 {
    float:left;
    font-weight : bold ;
    font-size  : 4.75vmin;
    width : 100%;
  }

  .header h2 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size : 6vmin;
}
  
.flex img {
      
  border-radius: 50%;
  border: solid 4px #fff;
  width : 30%;
  height : auto;
  box-shadow: 0 0 28px rgba(255,255,255, .65);
}

.flex ion-icon {
  position: absolute;
  top: calc(37% - 10px);
  left: calc(67% - 5px);
  color : white;
  font-size : 7vmin;
}
  
.gridTop{
  margin-top:5%
 }

 .gridTop1{
  margin-top:0%
  }
 
  .profil-icon
  {
    color : white ;
    font-size : 7vmin;
  
  }

  .badge
  {
    width : 25%;
    height : auto;
    margin-left : 3%;
  }

  .icon
  {
    color : rgb(128, 128, 128) ;
    text-align: right;
    font-size : 7vmin;
  }

  .icon1
  {
    color : rgb(128, 128, 128) ;
    text-align: left;
    font-size : 4.75vmin;
  }

  .label
  {
    padding-left : 10%;
    font-weight: bold;
    font-size : 4.5vmin;
    color : black;
  }
      }


      @media screen and (min-width: 500px) and (max-width: 810px) {
        ion-grid{
          width: 90%;
        }


        .grid
        {
           margin-top : 12%;
         }

     .gridTop{
         margin-top:10%
        }

        .gridTop1{
        margin-top:3%
        }
        .header {
          height: 17%;
          background-color: #03A9F4;
          width: 100%;
          padding-top: 1px;
      }
        .infos
  {
    font-size : 3vmin;
    margin-top: 2%;
    color : rgb(128, 128, 128);
    padding-left : 10%;
  }

  
  .left {
    float:left;
    font-weight : bold ;
    font-size  : 3.25vmin;
    width : 90%;
    margin-left :3%;
  }

  .header h2 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size : 4.75vmin;
}
  .label
  {
    padding-left : 10%;
    font-weight: bold;
    font-size : 3.25vmin;
    color : black;
  }

  .title1 {
    float:left;
    font-weight : bold ;
    font-size  : 3.5vmin;
    width : 100%;
  }


  .flex img {
      
    border-radius: 50%;
    border: solid 4px #fff;
    width : 25%;
    height : auto;
    box-shadow: 0 0 28px rgba(255,255,255, .65);
  }
 
  .flex ion-icon {
    position: absolute;
    top: calc(32% - 10px);
    left: calc(64% - 5px);
    color : white;
    font-size : 6vmin;
  }

 
  .profil-icon
  {
    color : white ;
    font-size : 5vmin;
  
  }

  .badge
  {
    width : 17%;
    height : auto;
    margin-left : 3%;
  }

  .icon
  {
    color : rgb(128, 128, 128) ;
    text-align: right;
    font-size : 5.5vmin;
  }

  .icon1
  {
    color : rgb(128, 128, 128) ;
    text-align: left;
    font-size : 4vmin;
  }
      }
