<ion-content class="profile">
  <div class="header">
    <h2>Elon Musk</h2> 
    <div class="flex">
      <img  src="../../../assets/img/avatar.jpeg"  >
      <ion-icon name="camera" (click)="selectImage()" tappable></ion-icon> 
      </div>    
      </div>
      <ion-grid  class="grid">
        <ion-row>
          <ion-col size="12" padding>
            <ion-list margin-bottom>
              <ion-list-header  class="container">
                <div class="left">
                  <ion-icon class="icon1" name="body"></ion-icon>
                  Informations personelles
                </div>
                <div class="right">
                  <ion-button icon-only (click)="editProfile()">
                <ion-icon name="pencil-outline" class="icon" slot="icon-only"  tappable></ion-icon> 
              </ion-button>
            </div>
         </ion-list-header>
              <div class="gridTop1">
                <ion-label  class="label" >  Nom et prénom </ion-label>  
            <!--  {{user.fullname}} -->  <p class="infos">Ahmed Aykaychi</p>
             
      
                <ion-label  class="label"> Email:</ion-label>
            <!-- {{user.email}}  --> <p class="infos">AhmedAykaychi@gmail.com</p>
             
                <ion-label  class="label"> Pays:</ion-label>
            <!-- {{user.email}}  --> <p class="infos">Tunisie</p>
             
                <ion-label   class="label">Date de naissance:</ion-label>
           <!-- {{user.birthday}}--> <p class="infos">29 Février 1995</p>
            </div>

             
            </ion-list>
           
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-grid >
        <ion-row>
          <ion-col size="12" padding>
            <ion-list margin-bottom>
                <ion-list-header class="title1">
                  <div>
                  <ion-icon class="icon1" name="football-outline"></ion-icon>
                  Entrainement personalisé
                </div>
                </ion-list-header>
                <div class="gridTop">
                  <ion-label class="label" > Age</ion-label>
                  <p class="infos">25 ans</p>
               <!-- {{user.age}}-->
               
                  <ion-label class="label" >Poids</ion-label>
               <!-- {{user.weight}}--> <p class="infos">87 kg</p>
               
                  <ion-label class="label">Taille</ion-label>
               <!-- {{user.length}}--><p class="infos">175 cm </p>
              
                  <ion-label class="label" >Position</ion-label>
               <!-- {{user.position}}--><p class="infos">Attaquant</p>
                
              </div>
              </ion-list>
          </ion-col>
          </ion-row>
       </ion-grid>

       <ion-grid >
        <ion-row>
          <ion-col size="12" padding>
            <ion-list margin-bottom>
              <ion-list-header class="title1">
                <div>
                <ion-icon class="icon1" name="ribbon-outline"></ion-icon>
               Badges
              </div>
              </ion-list-header>
              <div class="gridTop">
              <img *ngFor="let badge of badges" [src]="badge" class="badge">

              </div>
          </ion-list>
          </ion-col>
          </ion-row>
       </ion-grid>

       <ion-grid>
        <ion-row>
          <ion-col size="12" padding>
            <ion-list margin-bottom>
              <ion-list-header class="title1">
                <div>
                <ion-icon class="icon1" name="stats-chart-outline"></ion-icon>
               Statistiques
              </div>
              </ion-list-header>
              <div class="gridTop">
                <ion-label class="label" >Programmes realisés</ion-label>
                <p class="infos">5</p>
             <!-- {{user.age}}-->
             
                <ion-label class="label" >Séances realisés</ion-label>
             <!-- {{user.weight}}--> <p class="infos">20</p>
             
                <ion-label class="label">Exercies realisés</ion-label>
             <!-- {{user.length}}--><p class="infos">10</p>
            
                <ion-label class="label">Temps passé</ion-label>
             <!-- {{user.position}}--><p class="infos">5 h 30 min</p>

             
             <ion-label class="label">Moyenne générale</ion-label>
             <!-- {{user.position}}--><p class="infos">15</p>

              </div>
          </ion-list>
          </ion-col>
          </ion-row>
       </ion-grid>

</ion-content>

