
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }

[cards] {
    .grid-full ion-col {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 5px 0;
        height : 160px;
    }
    .row {
        padding: 0 5px;
    }
    .col {
        padding: 5px 0;
        height: 200px;
    }
    ion-card.md.hydrated
    {
     --background: var(--ion-item-background,var(--ion-background-color,#fff));
     --color: var(--ion-color-step-550,#737373);
     margin: 10px;
     border-radius: 10%;
     font-size: 14px;
     box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    }
}

.title
{
color:white; 
font-size: 5vmin;
text-align : center
}




img{
   height : 150px;
   opacity : 0.9;
   background :#ffffff;
}
.myOverlay{
    width: 100%;
    top : 70%;
    font-size : 4.5vmin;
    font-weight : bold ;
    margin-left : 5%;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    color: #fff;
    font-style: normal;

}
ion-header {
    &.header-md:after {
      background: none;
    }
  }

ion-content{
    --ion-background-color: black;   
}