[cards] {
    .grid-full ion-col {
        flex: 0 0 75%;
        max-width: 75%;
        padding: 5px 0;
        height : 160px;
    }
    
    ion-card.md.hydrated
    {
     --background: var(--ion-item-background,var(--ion-background-color,#fff));
     --color: var(--ion-color-step-550,#737373);
     border-radius: 14px 14px 14px 14px;
     position: relative;
     height:150px;
     margin-top : 5%;
    }
}

.title
{
color:white; 
font-size: 4.5vmin;
text-align : center
}


img{
   height : 150px;
   width : 100%;
   opacity : 0.9;
   background :#ffffff;
}
h2
{
    top : 50%;
    position :absolute;
    font-size : 4.5vmin;
    left : 5%;
    font-weight : bold;
    color : white;
}
.myOverlay{
    font-size : 4vmin;
    margin-left : 5%;
    margin-top : 5px;
    color: #fff;
    font-style: normal;
    float:left;

}

.myOverlay1{
    font-size : 4vmin;
    margin-top : 5px;
    margin-left:50%;
    color: #fff;
    font-style: normal;
}

ion-card {
    position: relative;
  }

  .card-title {
    position: absolute;
    top: 80%;
    height : 20%;
    width: 100%;
    opacity : 0.7;
    background: black;
    vertical-align: middle;
  }
ion-header {
    &.header-md:after {
      background: none;
    }
  }

  ion-content{
    --ion-background-color: black;   
}

.text
{
font-size: 4vmin;
color : white;
}
  