ion-content{
    --ion-background-color: #2880e4;  
  }

 


@media screen and (max-width: 500px) {
  .label
  {
  color:white;
  font-size:4.5vmin
  }
  .title
  {
  color:white; 
  font-size: 6vmin;
  margin-top : 3% ;
  text-align : center
  }
  .labelButton
  {
  font-size:4vmin
  }
  .infos
  {
    font-size: 3.5vmin;
    color : white;
    width : 100%;
    text-align:center;
  }
  
  .infos1
  {
    font-size: 3.5vmin;
    color : white;
    margin-top:4%;
    float : right;
  }

  .infos2
  {
    font-size: 3.5vmin;
    color : white;
    text-align:center;
    margin-top:3%;
  }



  .login
  {
    font-size: 4.5vmin;
    color : white;
    width : 100%;
    text-align:center;
  }
    
  .icon
  {
    font-size: 6vmin;
  }

  .button
  {
    width: 40%;
    height : 35px;
    margin-top : 5%;
    --ion-color-primary : #3B5998;
   
  }

  .buttonLogin
  {
    width: 70%;
    height : 35px;
    margin-top:18%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    --ion-color-primary : #3B5998;
  }
  
  

  
  }
  
  @media screen and (min-width: 500px) and (max-width: 810px) {

    .title
    {
    color:white; 
    font-size: 4.25vmin;
    margin-top : 3% ;
    text-align : center
    }

  .label
  {
  color:white;
  font-size:3vmin
  }
  
  .labelButton
  {
  font-size:3vmin
  }
  
  .icon
  {
    font-size: 5vmin;
  }
  .button
  {
    width: 35%;
    height : 45px;
    --ion-color-primary : #3B5998;
  }


  .buttonLogin
  {
    width: 50%;
    height : 45px;
    --ion-color-primary : #3B5998;
    margin-top : 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .infos
  {
    font-size: 2.5vmin;
    color : white;
    width : 100%;
    text-align:center;
  }
  
  .infos1
  {
    font-size: 2.5vmin;
    color : white;
    margin-top:2%;
    float : right;
  }

  .infos2
  {
    font-size: 2.5vmin;
    color : white;
    text-align:center;
    margin-top:2%;
  }

  .login
  {
    font-size: 3.25vmin;
    color : white;
    width : 100%;
    text-align:center;
  }
  
  .logoImage
  {
  width:22%;
  height:auto;
  margin : auto;
  margin-top : 3%;
  
  }
  
  }
  
  @media screen and (min-width: 810px) and (max-width: 1025px) {
  .label
  {
  color:white;
  font-size:2.5vmin
  }
  
  .logoImage
  {
  width:12%;
  height:auto;
  margin : auto;
  margin-top : 3%;
  
  }
  .title
  {
  color:white; 
  font-size: 3.25vmin;
  }
  .infos
  {
    font-size: 2.75vmin;
    color : white;
    width : 100%;
    text-align:center;
  }
  
  }
  

.pass
{
    margin-right:5%; 
}
.paz {
    position: relative;
    z-index: 10;
}