<ion-header #header>
  <ion-toolbar color="secondary">
    <div class="ion-text-center">
      <img class="logoImage" src="../../../assets/img/logo.png"/>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div >
    <!-- Logo -->
    
    <!-- Login form -->
    <div class="innerContent" >
    <form [formGroup]="onLoginForm" >
    
     <ion-item  >
         <ion-label position="floating"  class="label">
          <ion-icon name="mail" item-start></ion-icon>
          Adresse e-mail
        </ion-label>
        <ion-input     type="email" formControlName="email"></ion-input>
     
      </ion-item>
   
      
      <ion-item  >
        <ion-label position="floating" class="label" >
          <ion-icon item-start name="key-outline"></ion-icon>
          Mot de passe
        </ion-label>
        <ion-input   [type]="passwordType" formControlName="pass"></ion-input>
        <ion-icon *ngIf="onLoginForm.get('pass').value!=null" color="white"  slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
    
      <div class="infos1"  tappable (click)="forgotPass()" >
        <ion-text color="light">
          <strong>Mot de passe oublié ?</strong>
        </ion-text>
      </div>
  
      <div>
        <ion-button icon-left size="medium" shape="round"  class="buttonLogin" (click)="signIn()"  tappable>
          <ion-icon name="log-in" class="icon"></ion-icon>
         Se connecter
        </ion-button>
        </div>
       
    </form>
    <div>
      <br>
   
      <div class="login">
        <ion-text color="light">
          Se connecter via :
        </ion-text>
      </div>
      <div class="ion-text-center">
            <ion-button   (click)="fbLogin()" shape="round" class="button">
              <ion-icon slot="icon-only" name="logo-facebook"  class="icon" ></ion-icon>
            </ion-button>
        
              <ion-button class="ion-text-center" shape="round" class="button1"  color="danger" (click)="doGoogleLogin()" >
               <ion-icon  slot="icon-only" class="icon" name="logo-google"></ion-icon>
               </ion-button>
           </div>

    </div>
 <br>
   
    <div class="ion-text-center" margin-top>
      <span  class="paz" tappable>
        <ion-text color="light"class="infos">
En vous connectant, vous acceptez notre<strong> Conditions d'Utilisations</strong>
        </ion-text>
      </span>
    </div>
    
    <div  class="infos2"  >
      <span (click)=" goToRegister()" class="paz" tappable>
        <ion-text color="light">
Nouveau ici?<strong> S'inscrire</strong>
        </ion-text>
      </span>
    </div>
   
</div>
  </div>
</ion-content>