
@media screen and (max-width: 500px)  {
    .title
    {
    color:white; 
    font-size: 4vmin;
    text-align : center
    }

    

    .position
    {
        font-size : 4.5vmin;
    }

    img
    {
        width : 15%;
        height : auto ;
    }

    .labelButton
{
font-size:3vmin
}
    ion-button.operation1 {
        --border-radius: 15px;
         --background-color: transparent;
         --border-style:solid;
         --border-width: thin;
         --border-color: white;
          width : 50%; 
        }

        .labelButton
{
font-size:3.5vmin
}

.icon
{
    color :white
}

    ion-button.operation {
        --border-radius: 15px;
         --background-color: transparent;
         --border-style:solid;
         --border-width: thin;
         --border-color: white;
         color : white;
          width : 20%; 
        }
    
    .label
{
color:white;
font-size:5.5vmin
}

    ion-item {
        --color : white ;
        --border-color: var(--ion-color, #ffffff);
        --highlight-color-invalid: #ffffff; // invalid underline color
        --highlight-color-valid:#ffffff;
      
        padding-right: 7%;
        padding-left: 7%;
        margin-top : 3%;
       
      }
 
    .pass
{
font-size : 5vmin ;
}

.icon
{
font-size: 7vmin;
}

.div
{
    margin-top : 30%;
    width:100%;
    height:100%
}
.age
{
    font-size : 15vmin;
    color : white;  
   
}

.p
{
    font-size : 5vmin;
    color : white;  
}

.ageUnity

{
    font-size : 7vmin;
    color : white;  
  
  
}
.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    width : 80%;
    color : white;
    font-size : 5vmin;
    transform: translate(-50%, -50%);
  }
  
  .text {
    position: absolute;
    left: 50%;
     top : 85%;
     width : 80%;
     font-size :4vmin;
    color : white;
    transform: translate(-50%, -50%);
  }

  ion-slides { 
 
    height:95% ;   
  
  }
  ion-slide { height:88% ;
      position: relative;
      text-align: center; 
    img {
        object-fit: cover;
        width:100%;
        height:100%;
        margin-top : 0;
      }
    }

}

@media screen and (min-width: 500px) and (max-width: 810px) {

    ion-slides { 
 
        height:95% ;   
      
      }
      ion-slide { height:95% ;
          position: relative;
          text-align: center; 
        img {
            object-fit: cover;
            width:100%;
            height:100%;
            margin-top : 0;
          }
        }
    .title
    {
    color:white; 
    font-size: 3.5vmin;
    text-align : center
    }
    
    .pass
    {
      font-size : 3.5vmin ;
    }


  
  ion-item {
    --color : white ;
    --border-color: var(--ion-color, #ffffff);
    --highlight-color-invalid: #ffffff; // invalid underline color
    --highlight-color-valid:#ffffff;
  
    padding-right: 7%;
    padding-left: 7%;
    margin-top : 3%;
   
  }

  .position
  {
      font-size : 3.75vmin;
  }

  img
  {
      width : 12%;
      height : auto ;
  }

  .labelButton
{
font-size:3vmin
}
  ion-button.operation1 {
      --border-radius: 15px;
       --background-color: transparent;
       --border-style:solid;
       --border-width: thin;
       --border-color: white;
        width : 50%; 
        height :40px;
      }

      .labelButton
{
font-size:3vmin
}



  ion-button.operation {
      --border-radius: 15px;
       --background-color: transparent;
       --border-style:solid;
       --border-width: thin;
       --border-color: white;
       color : white;
        width : 20%; 
        height :40px;
      }
  
  .label
{
color:white;
font-size:5.5vmin
}



  .pass
{
font-size : 4vmin ;
}

.icon
{
font-size: 4.5vmin;
}

div
{
  margin-top : 20%;
}
.age
{
  font-size : 12vmin;
  color : white;  
 
}

.p
{
  font-size : 4vmin;
  color : white;  
}

.ageUnity

{
  font-size : 5vmin;
  color : white;  


}
  .centered {
    position: absolute;
    top: 78%;
    left: 50%;
    width : 80%;
    color : white;
    font-size : 4vmin;
    transform: translate(-50%, -50%);
  }
  
  .text {
    position: absolute;
    left: 50%;
     top : 88%;
     width : 60%;
     font-size :3vmin;
    color : white;
    transform: translate(-50%, -50%);
  }
}
ion-header {
    &.header-md:after {
      background: none;
    }
  }

ion-content{
    --ion-background-color: rgba(0, 0, 0, 0.952);    
  
  }


 

