<ion-header >
  <ion-toolbar color="secondary" *ngIf="step!=1">
    <ion-buttons slot="start" >
      <ion-button (click)="back()" >
        <ion-icon   class="backIcon" (click)="back()" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title  class="title">Personaliser ton entrainement</ion-title>
   </ion-toolbar>
</ion-header>
<ion-header *ngIf="step==1">
  <ion-toolbar color="dark">
    <ion-buttons slot="start" color="light">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="title">Personaliser ton entrainement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  
  <div style=" width:100%;height:100%" *ngIf="step==1">
  <ion-slides  pager="true" >
    <ion-slide><img   src="../../../assets/img/image1.jpg"/>
    <h2 class="centered">
      Entrainement Personalisé
    </h2>
    <p class="text">
       Améliore tes compétences grace à un entrainement personalisé qui correspond à  tes objectifs
    </p>
    </ion-slide>
    <ion-slide><img  src="../../../assets/img/image2.jpg"/>
      <h2 class="centered">
        Formation Personalisée
      </h2>
      <p class="text">
        Personalise ton entrainement en fonction de ton age, ton poids, ta taille et ton niveau sur le terrain
      </p>
    </ion-slide>
    <ion-slide><img src="../../../assets/img/image3.jpg"/>
      <h2 class="centered">
        Exercices Exclusifs
      </h2>
      <p class="text">
      Accéde à de nouveaux exercices exceptionnels disponibles uniquement dans les plans d'entrainement
      </p>
    </ion-slide>
   
  </ion-slides>
  </div>
  <form [formGroup]="onForm" >
  <div class="div" *ngIf="step==2">
    <div class="ion-text-center">
      <p class="p">Entrez votre date de naissance</p>
      <span class="age">{{age}}</span><br>
      <span class="ageUnity">ans</span><br><br>
      <ion-button   class="operation1" (click)="showDatepicker()"> <span class="labelButton">Choisir une date </span> </ion-button>
    </div>
  
       
       
      </div>
  <div class="div" *ngIf="step==3">
   
  <div class="ion-text-center">
    <p class="p">Entrez votre poids</p>
    <span class="age">{{weight}}</span><br>
    <span class="ageUnity">kg</span>
    <br><br>
    <ion-button   class="operation"   (click)="decrement()"  > <ion-icon  name="remove-outline" ></ion-icon>
    </ion-button>
    <ion-button   class="operation" (click)="increment()"   > <ion-icon name="add-outline" ></ion-icon> </ion-button>
  </div>
  <br>
    </div>

    <div class="div" *ngIf="step==4">
      <div class="ion-text-center">
        <p class="p">Entrez votre taille</p>
        <span class="age">{{height}}</span><br>
        <span class="ageUnity">cm</span>
        <br><br>
        <ion-button   class="operation"   (click)="decrement1()"  > <ion-icon name="remove-outline"></ion-icon> </ion-button>
        <ion-button   class="operation" (click)="increment1()"   > <ion-icon name="add-outline"></ion-icon> </ion-button>
      </div>
      <br>
        </div>  
        <div class="div" *ngIf="step==5">
      <p class="ion-text-center" style="margin-top : 20%;">
     <span class="p">Choisissez ton poste sur le terrain</span> 
      </p>
      <p class="ion-text-center"  style=" overflow-y: auto;">
        <ion-item (click)="setPosition('attaquant')" button="true">
        <img src="../../../assets/img/attaquant.png" /> &nbsp; &nbsp;<span class="position">Attaquant</span>
      </ion-item>
      <ion-item (click)="setPosition('milieu de terrain')" button="true">
        <img src="../../../assets/img/terrain.png" />  &nbsp;  &nbsp;<span class="position">Milieu du terrain</span>
      </ion-item>
      <ion-item (click)="setPosition('défenseur')" button="true">
        <img src="../../../assets/img/defenseur.png" />  &nbsp; &nbsp; <span class="position">Défenseur</span>
      </ion-item>
      <ion-item (click)="setPosition('gardien')" button="true">
        <img src="../../../assets/img/gardien.png" />  &nbsp; &nbsp; <span class="position">Gardien</span>
      </ion-item>
      </p>
        </div> 
    </form>
</ion-content>

<ion-footer  class="ion-no-padding  ion-no-border"  no-shadow  >
  <ion-button  *ngIf="step!=5" size="large" expand="block" (click)="next()"  color="tertiary" class="ion-no-margin" >
    <ion-icon class="icon" name="arrow-forward"></ion-icon>
    <ion-ripple-effect></ion-ripple-effect>
  <span class="pass">Continuer</span>
  </ion-button>

  <ion-button  *ngIf="step == 5" size="large" expand="block"   color="tertiary" class="ion-no-margin" >
    <ion-icon name="checkmark-outline" class="icon"></ion-icon>
    <ion-ripple-effect></ion-ripple-effect>
  <span class="pass">Valider</span>
  </ion-button>
  
</ion-footer>
