
<ion-app>
  <div class="splash" *ngIf="global.getShowSplash()">
    <div class="sk-chase">
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
    </div>
  </div>  
  <ion-menu   side="start" menuId="first" contentId="content1" >
      <div class="header">
        <div class="container">
       
              <img  src="../../../assets/img/avatar.jpeg"  >
        <ion-text color="medium" >
          <!--      <h1><strong>{{user.fullname}}</strong></h1>-->
            Nidhal Hmida 
            </ion-text>
      </div>
      </div>
      <ion-content class="bg-profile"  >
      <ion-list >
        <ion-menu-toggle auto-hide="false"  *ngFor="let p of appPages">
          <ion-item  class="ion-item" [routerLink]="[p.url]" >
            <ion-icon class="icon1"  [name]="p.icon" color="light" icon-only></ion-icon>
            <ion-label>
              <span>{{ p.title }}</span>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
 
  <ion-router-outlet  id="content1" style="height:100%;" ></ion-router-outlet>
  <ion-tabs *ngIf="!global.getShowSplash()" >
    <ion-tab-bar slot="bottom">
      <ion-tab-button class="selected" tab="programs">
        <ion-icon name="body-outline" class="icon"></ion-icon>
        <ion-label class="label">Plans</ion-label>
      </ion-tab-button>
  
      <ion-tab-button class="selected" tab="personalizetraining">
        <ion-icon name="football-outline"  class="icon"></ion-icon>
        <ion-label class="label">Personaliser</ion-label>
      </ion-tab-button>
  
      <ion-tab-button class="selected" tab="videochallengelist">
        <ion-icon class="icon" name="logo-youtube"></ion-icon>
        <ion-label class="label">Vidéos</ion-label>
      </ion-tab-button>
      <ion-tab-button class="selected" tab="edit-profile">
        <ion-icon  class="icon" name="person-circle"></ion-icon>
        <ion-label class="label">Profil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
