.splash
{
  width : 100%;
  height : 100%;
  align-items : center;
  justify-content : center;
  display : flex;
  z-index : 999;
  background : #1e2023;

}
.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

ion-tab-bar,ion-tab-button{
    background-color:#1e2023;
   }

   .user-avatar {
    width: 50%;

  }

  .container {
    width:100%;
    margin-top : 3%;
  }
  

  img {
      
    border-radius: 50%;
    border: solid 4px #fff;
    width : 30%;
    display : block;
    margin : auto;
    height : auto;
    box-shadow: 0 0 28px rgba(255,255,255, .65);
  }
 
ion-list{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px; 
    padding-bottom: 0px; 
    background: none; 
}

    .bg-profile {
        --background: linear-gradient(135deg, var(--ion-color-primary), var(--ion-color-secondary))
      }

     

  
  .header
  {
  height:25%;
  text-align : center;
  background:linear-gradient(var(--ion-color-dark), var(--ion-color-primary)); 
}
 
@media screen and (max-width: 500px) {
    .label
    {
      
    font-size:3vmin
    }
    
    .selected
    {
        --color-selected:#2880e4;
        --color : #fff;
    font-size:4vmin
    }
      
    .icon
    {
      font-size: 8vmin;
     
    }
    ion-text { font-size : 5.5vmin; 
      font-weight : 700;
      margin-top: 3%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .icon1
    {
    font-size : 5vmin
    }
    .ion-item {
     font-size: 4.5vmin;
     margin-top : 1px;
     --background: linear-gradient(135deg, var(--ion-color-primary), var(--ion-color-secondary))
}

    span
    {
        color : white;
        font-size : 4.5vmin;
        margin-left : 5%;
    }
    
    }
    
    @media screen and (min-width: 500px) and (max-width: 810px) {
        .label
        {
          
        font-size:2vmin
        }
        
        .selected
        {
            --color-selected:#2880e4;
            --color : #fff;
        font-size:5vmin
        }
          
        .icon
        {
          font-size: 6vmin;
        
        }
  
    }