<ion-header >
  <ion-toolbar color="secondary" >
    <div class="backIconForm">
    <ion-buttons slot="start" >
      <ion-button (click)="back()"  >
        <ion-icon   class="backIcon" (click)="back()" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
    <div class="ion-text-center">
      <img class="logoImage" src="../../../assets/img/logo.png"/>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
   
      <div  class="innerContent" *ngIf="step==1">
      <form [formGroup]="onRegisterForm" >
      <ion-item>
        <ion-label position="floating" class="label">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input   clearInput *ngIf="user==undefined"  type="email" formControlName="email"></ion-input>
        <ion-input   readonly="readonly" *ngIf="user!=undefined"  type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item *ngIf="user===undefined" >
        <ion-label position="floating"class="label">
          <ion-icon item-start name="key-outline"></ion-icon>
          Mot de passe
        </ion-label>
        <ion-input  clearInput  [type]="passwordType" formControlName="pass"></ion-input>
        <ion-icon *ngIf="onRegisterForm.get('pass').value!=null" color="white"  slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
    
     
    
      <ion-item   *ngIf="user===undefined">
        <ion-label position="floating" class="label">
          <ion-icon item-start name="key-outline"></ion-icon>
         Confirmation Mot de passe
        </ion-label>
        <ion-input clearInput  [type]="passwordType1" clearInput type="password" formControlName="passConfirm"></ion-input>
        <ion-icon *ngIf="onRegisterForm.get('passConfirm').value!=null" color="white"  slot="end" [name]="passwordIcon1"  (click)='hideShowPassword1()'></ion-icon>
      </ion-item>
   
  </form>
  </div>
 
  <div  class="innerContent"  *ngIf="step==2">
  <form [formGroup]="onRegisterForm2" >

    <ion-item>
      <ion-label position="floating" class="label">
        <ion-icon name="person-outline" item-start></ion-icon>
        Nom et prénom
      </ion-label>
      <ion-input color="light" *ngIf="user===undefined"  type="text" clearInput formControlName="fullName"></ion-input>
      <ion-input  color="light" readonly="readonly" *ngIf="user!=undefined"  type="text" formControlName="fullName"></ion-input>
    </ion-item>

    <ion-item  >
      <ion-label position="floating" class="label">
        <ion-icon name="location-outline" item-start></ion-icon>
        Pays
      </ion-label>
    <ion-select style="color:white" (click)="loadFlags()" formControlName="country" okText="Choisir" cancelText="Annuler"  >           
      <ion-select-option *ngFor="let country of countries" value="{{country.name}}">&nbsp;<b>{{country.name}}</b></ion-select-option>
  </ion-select>
    </ion-item>
  </form>
  <div class="ion-text-center">
    <img class="profilepicsize" [src]="base64Image"/>
</div>

<div  *ngIf="user===undefined" class="ion-text-center">
    <ion-button class="profilButton" icon-left  shape="round"  (click)="selectImage()" tappable>
      <ion-icon name="image-outline" class="icon"></ion-icon>  &nbsp; <span class="labelButton">Photo  profil</span>
    </ion-button>
  </div>
  </div>
<ion-fab *ngIf="step!=2" vertical="bottom" class="infos" slot="fixed">
  <span  class="paz" tappable>
    <ion-text color="light">
En vous inscrivant, vous acceptez notre<strong> Conditions d'Utilisations</strong>
    </ion-text>
  </span>
</ion-fab>
</ion-content>
<ion-footer  class="ion-no-padding  ion-no-border"  no-shadow  >
  

  <ion-button *ngIf="step==1" size="large" expand="block" (click)="next()"   color="tertiary" class="ion-no-margin" >
    <ion-icon  class="icon" name="arrow-forward"></ion-icon>
    <ion-ripple-effect></ion-ripple-effect>
<span class="pass">&nbsp;Continuer</span>
</ion-button>

<ion-button *ngIf="step!=1" size="large" expand="block" (click)="next()"  color="tertiary" class="ion-no-margin" >
  <ion-icon class="icon" name="arrow-forward"></ion-icon>
  <ion-ripple-effect></ion-ripple-effect>&nbsp;
<span class="pass">S'inscrire</span>
</ion-button>

</ion-footer>
