ion-content{
  --ion-background-color: #2880e4;  
}

@media screen and (max-width: 500px) {

.labelButton
{
font-size:3vmin
}

.infos
{
  font-size: 3.5vmin;
  color : white;
  text-align :center;
  padding-left : 7%;
  padding-right : 7% ;
}

.label
{
color:white;
font-size:4.5vmin
}

  
.icon
{
  font-size: 6vmin;
}

.profilButton
{
  width : 60%;
  margin-top : 2%;
  --ion-color-primary : #3B5998;
}

.pass
{
  font-size : 5vmin ;
}
.icon
{
font-size: 6vmin;
}
  
}

@media screen and (min-width: 500px) and (max-width: 810px) {
.label
{
color:white;
font-size:3vmin
}


.labelButton
{
font-size:2.75vmin
}

.infos
{
  font-size: 2.25vmin;
  color : white;
  width : 100%;
  text-align:center;
}

.logoImage
  {
  width:22%;
  height:auto;
  margin : auto;
  margin-top : 10%;
  }

  .backIcon
  {
    color:white;
    font-size:2rem
  }
  .pass
  {
    font-size : 3.25vmin ;
  }
.icon
{
  font-size: 5vmin;
}

.profilButton
{
  width : 50%;
  margin-top : 2%;
  --ion-color-primary : #3B5998;
}

.title
  {
  color:white; 
  font-size: 4.25vmin;
  margin-left : 29%;
  }

  .flex img {
      
    border-radius: 50%;
    border: solid 4px #fff;
    width : 30%;
    height : auto;
    box-shadow: 0 0 28px rgba(255,255,255, .65);
  }
  
 
   

}

@media screen and (min-width: 810px) and (max-width: 1025px) {
.label
{
color:white;
font-size:2.5vmin
}

.logoImage
{
width:12%;
height:auto;
margin : auto;
margin-top : 3%;

}
.title
{
color:white; 
font-size: 3.25vmin;
}
.infos
{
  font-size: 2.75vmin;
  color : white;
  width : 100%;
  text-align:center;
}

}



.paz {
  position: relative;
  z-index: 10;
}
 
.profilepicsize
{
  width: 55%;
  border-radius:14px; 
  height : auto;
  margin:0 auto;
  margin-top : 7%;
  --ion-color-primary : #3B5998;
}



.centered {
  position: absolute;
  top: 65%;
  left: 50%;
  color : white;
  font-size : 4vw;
  transform: translate(-50%, -50%);
}

.text {
  position: absolute;
  left: 50%;
   top : 80%;
   width : 95%;
   font-size :3vw;
  color : white;
  transform: translate(-50%, -50%);
}


.slides
{
  width:100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
}

.scroll {
  height: 100%;
}


 
