<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
      <ion-button (click)="back()" icon-only>
        <ion-icon   name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">{{program.title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
            <img src="{{program.photo}}">
            <div class="myOverlay"><ion-icon name="accessibility-outline"></ion-icon> 5 séances</div>
            <div class="myOverlay1"><ion-icon color="light" name="ribbon-outline"></ion-icon> 0 badges </div>
         <p class="text">{{program.description}}</p>
          </div>
          
          <div class="ion-text-center">
            <ion-button icon-left size="medium" shape="round"  class="list" (click)=" getSeances()"  tappable>
              <ion-icon name="body-outline" class="icon" ></ion-icon>
             &nbsp;séances
            </ion-button>
            </div>
          
  <!--
  <ion-grid *ngFor="let programgroup of programsgroups; let i= index"  >
    <ion-row  class="accordion-list" (click)="toggleSection(i)">
      <ion-col>
          <ion-icon  name="add" *ngIf="!programgroup.open" color="primary"></ion-icon> 
          <ion-icon  name="close" *ngIf="programgroup.open" color="primary"></ion-icon> 
         <b style="font-size:18px;">{{programgroup.title}} 
        </b> 
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="programgroup.open">
        <ion-card *ngFor="let program of programgroup.programs" (click)="seance(program)" >
          <ion-card-header>
            <ion-card-title>{{program.title}}</ion-card-title>
            <ion-card-subtitle> <b>Nombre de séances :</b> {{program.seanceNumber}}</ion-card-subtitle>
            <ion-card-subtitle> <b>Badges obtenus : </b> {{program.badge}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
           {{program.description}}
          </ion-card-content>
        </ion-card>
    </ion-row>
    </ion-grid> 
    -->
</ion-content>


