<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" >
      <ion-button (click)="back()"  icon-only>
        <ion-icon   name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Payement Box-to-box</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="innerContent">
  <p class="title1">ENTRAINE TOI COMME UN PRO<br><span class="title2">Ton abonement </span></p>
  
   <ul>
     <li class="text">Plans de formation personalisés</li>
     <li class="text">75 exercices exclusifs</li>
     <li class="text">stistiques de performance</li>
     <li class="text">asistance premium</li>
     <li class="text">3 nouveaux exercices par mois</li>
   </ul> 
  

</div>

<div style="margin-top: 10%;">
  <ion-row #content tappable (click)="pay('content')">
<ion-col  style="width:50%" ><strong class="text1">1.21 $ </strong>&nbsp;<span style="font-size:3.5vmin">par semaine</span></ion-col ><ion-col style="width:50%"><span class="text2"> 62.99 USD annuel </span></ion-col>
</ion-row>
<ion-row  tappable (click)="pay('content2')" #content2>
<ion-col  style="width:50%" ><strong class="text1"> 2.42 $ </strong>&nbsp;<span style="font-size:3.5vmin">par semaine</span></ion-col> <ion-col style="width:50%"><span class="text2">10.50 USD annuel</span></ion-col>
</ion-row>
<ion-row  #content3 tappable (click)="pay('content3')">
<ion-col style="width:50%"  ><strong class="text1"> 3.63 $</strong>&nbsp;<span style="font-size:3.5vmin">par semaine </span></ion-col><ion-col style="width:50%"><span class="text2">3.63 USD hebdomadaire</span></ion-col>
</ion-row>
</div>
</ion-content>
<ion-footer class="ion-no-padding  ion-no-border"  no-shadow>
 
  <ion-button class="ion-no-margin"   icon-left size="large"  color="tertiary" expand="block" tappable>
    <ion-icon name="cash-outline" class="icon"></ion-icon>
  <span class="pass">&nbsp;Payer</span> 
  </ion-button>

</ion-footer>