
   ion-content{
    --ion-background-color: #2880e4;  

  }

  ion-footer {
    display: block;
    position: relative;
   background-color: #2880e4!important; 
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    z-index: 10;
}

@media screen and (max-width: 500px) {
 
 

.labelButton
{
  font-size:4vmin
}
.pass
{
  font-size : 4.5vmin ;
}
.icon
{
font-size: 6vmin;
}
.infos
  {
    font-size: 3.5vmin;
    color : white;
    width : 100%;
    text-align:center;
  }

  
  .title
  {
  color:white; 
  font-size: 4.5vw;
  margin-left : 2%;
  }


}

@media screen and (min-width: 500px) and (max-width: 810px) {
 
.backIcon
{
  color:white;
  font-size:2rem
}
.pass
{
  font-size : 3.25vmin ;
}
.icon
{
font-size: 5vmin;
}

.title
{
color:white; 
 font-size: 3.75vmin;
 margin-left: 15%;
}
.infos
  {
    font-size: 2.5vmin;
    color : white;
    width : 100%;
    text-align:center;
  }

  .logoImage
{
  width:22%;
  height:auto;
  margin : auto;
  margin-top : 5%;
 
}

}

@media screen and (min-width: 810px) and (max-width: 1025px) {
  .label
{
  color:white;
  font-size:2.5vmin
}

.logoImage
{
  width:12%;
  height:auto;
  margin : auto;
  margin-top : 3%;
 
}
.title
{
color:white; 
 font-size: 3.25vmin;
}
.infos
  {
    font-size: 2.75vmin;
    color : white;
    width : 100%;
    text-align:center;
  }

}



  ion-item {
    color: white !important;
    --border-color: var(--ion-color, #ffffff);
    --highlight-color-invalid: #ffffff; // invalid underline color
    --highlight-color-valid:#ffffff;
    margin-top : 5%;
    height :auto;
    width :100%;
}
