<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
      <ion-button (click)="back()" icon-only>
        <ion-icon  (click)="back()" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">{{exercice.title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-spinner name="bubbles" *ngIf="affiche==null"></ion-spinner>
  <div *ngIf="affiche!=null">
            <iframe  [src]="security(exercice.url)"></iframe>
            <div class="myOverlay"><ion-icon name="body-outline"></ion-icon> 5 séances d'entrainement</div>&nbsp;
            <div class="myOverlay1"><ion-icon color="light" name="timer-outline"></ion-icon> 15 min </div>
         <p class="text">{{exercice.description}}</p>
          </div>
          <div class="ion-text-center" *ngIf="affiche==true">
            <ion-button icon-left size="medium" shape="round"  (click)="createTraining()" class="list"   tappable>
              <ion-icon name="create-outline" class="icon"></ion-icon>
             &nbsp; <span class="labelButton">créer séance</span>
            </ion-button>
            </div>
            <div class="ion-text-center" *ngIf="affiche==false">
              <ion-button icon-left size="medium" shape="round"  (click)="endTraining()" class="list"   tappable>
                <ion-icon name="pause-outline" class="icon"></ion-icon>
               &nbsp; <span class="labelButton">terminer séance</span>
              </ion-button>
              </div>
            <div class="ion-text-center" *ngIf="service.trainings.length!=0 && affiche==true">
              <ion-button icon-left size="medium" shape="round"  class="list"  (click)=" getTrainings()" tappable>
                <ion-icon name="body-outline" class="icon"></ion-icon>
               &nbsp;<span class="labelButton">séances d'entrainement</span>
              </ion-button>
              </div>
</ion-content>



