<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
      <ion-button  (click)="back()" icon-only>
        <ion-icon   name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Exercices</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div cards>
    <div class="grid-full">
      <div *ngFor="let exercice of exercices">
        <div class="subTitle" >{{exercice.title}}</div>
          <ion-card tappable (click)="details(exercice)"  >
            <img  src="{{exercice.photo}}">
            <div class="myOverlay"><ion-icon name="body-outline"></ion-icon> 5 séances</div>
            <div class="myOverlay1"><ion-icon color="light" name="timer-outline"></ion-icon> 15 min </div>
          </ion-card>
        </div> 
      </div>
  </div>
</ion-content>


