<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start" color="light">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="title">Vidéos de challenges</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div cards>
    <div class="grid-full">
          <ion-card tappable (click)="exercice()"  *ngFor="let exercice of exercices">
            <span class="myOverlay2" >{{exercice.title}}</span> <span class="myOverlay"><ion-icon name="ribbon"></ion-icon> tirs 1</span><span class="myOverlay1"><ion-icon name="checkmark-outline"></ion-icon>15/20</span>
            <iframe  [src]="security(exercice.url)"></iframe>
          </ion-card>
        </div> 
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" color="secondary" class="animated fadeInDown" (click)="add()">
  <ion-fab-button >
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!--
  <p><b *ngIf="video.note != undefined">Note :</b>{{video.note}}</p>
   <p><b *ngIf="video.badge != undefined">Badge :</b>{{video.badge}}</p>
   <p><b *ngIf="video.badge != undefined">Remarque :</b>{{video.observation}}</p>  
   <ion-button  *ngIf="video.badge != undefined" icon-left size="medium"  shape="round" color="secondary"  tappable>
    <ion-icon name="pencil-outline"></ion-icon>&nbsp;Modifer
  </ion-button>
-->