[cards] {
    .grid-full ion-col {
        flex: 0 0 75%;
        max-width: 75%;
        padding: 5px 0;
        height : 150px;
    }
    .row {
        padding: 0 5px;
    }
    .col {
        padding: 5px 0;
        height: 200px;
    }
    ion-card.md.hydrated
    {
     --background: var(--ion-item-background,var(--ion-background-color,#fff));
     --color: var(--ion-color-step-550,#737373);
    border-radius: 10px 10px 10px 10px;
     position: relative;
     padding-top: 10px;
     box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    }
  }
  
  .title
  {
  color:white; 
  font-size: 4.5vmin;
  text-align : center
  }

  iframe{
   height : 150px;
   width : 100%;
   opacity : 0.9;
   margin-top:2%;
  }
 

  .myOverlay2{
    position :relative;
    font-size : 4.5vmin;
    left : 2%;
    margin-top : 0px;
    font-weight : bold;
    color : white;
    
  }
  
  .myOverlay{
    font-size : 3.5vmin;
    float : right ;
    font-weight : bold;
    color : white;
    position :relative;
  }
  
  .myOverlay1{
    font-size : 3.5vmin;
    float : right ;
    font-weight : bold;
    color : white;
    margin-right : 5%;
    position :relative;
    margin-top : 0px;
  }
  
  ion-card {
    position: relative;
  }
  
  .card-title {
    position: absolute;
    top: 80%;
    height : 20%;
    width: 100%;
    opacity : 0.7;
    background: black;
    vertical-align: middle;
  }
  ion-header {
    &.header-md:after {
      background: none;
    }
  }
  
  ion-content{
    --ion-background-color: rgba(0, 0, 0);  
  }