ion-content{
    --ion-background-color: #2880e4;  
  }
     
     .title
     {
     color:white; 
     font-size: 5vmin;
     text-align : center
     }
     .labelButton
     {
     font-size:3.5vmin
     }

     ion-checkbox { color : white; --size: 4vmin; 
        --border-radius : 2%;
        --checkmark-color : white;
        --border-color: white;
    }
       
     p{
         color :white;
         font-size: 4vmin;
         margin-top : 8%;
     }

     .icon
     {
       font-size: 6vmin;
     }
   
     .but
     {
       width: 60%;
       height : 35px;
       --ion-color-primary : #3B5998;
     }
   
     .buttonLogin
     {
       width: 70%;
       height : 35px;
       margin-top:15%;
       display: block;
       margin-left: auto;
       margin-right: auto;
       --ion-color-primary : #3B5998;
     }

   

   
      
    

   
    
    