// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.alert-message.sc-ion-alert-md {
  max-height: 240px;
   font-size: 1em;
   color : black;
   font-family: Arial, Helvetica, sans-serif;
}

::ng-deep .sc-ion-alert-md-h
{
    --min-width :50%!important;
}

.alert-title.sc-ion-alert-md {
  font-size: 5vmin;
  color : black;
  font-weight : bold;
  font-family: Arial, Helvetica, sans-serif;
}

ion-header {
  &.header-md:after {
    background: none;
  }
}

.sc-ion-label-md-h.sc-ion-label-md-s.md.label-floating.hydrated
{
color : white !important;
font-size:4.5vmin
}


.innerContent
{

padding-right: 7%;
padding-left: 7%;
}


ion-item {
  color: white !important;
  --border-color: var(--ion-color, #ffffff);
  --highlight-color-invalid: #ffffff; // invalid underline color
  --highlight-color-valid:#ffffff;
  margin-top : 4%;

}
.backIconForm
{
margin-top:3%;position:absolute;width:100%;
}
@media screen and (max-width: 500px) {
 

  .logoImage
{
width:25%;
height:auto;
position: relative;
margin-top:5%;
}
}
